<!DOCTYPE html>
<html lang="en">
<head>
</head>

<style>

</style>

<body>

    <div class="email-background" style="padding: 10px">
    <div class="email-container" style="max-width: 500px;margin: 0 auto">
        
        
        <img src="http://drive.google.com/uc?export=view&id=186IP4grMdAPCqSy4t_JLtpczrBG0VNrg">
        <p style="text-align: center; font-size: 30px">Bienvenido a </p>
        <p STYLE="text-align: center; font-family: Helvetica, sans-serif; font-size: 30px">SILBERE</p>

        <p>En Silbere puedes compartir tus ideas, momentos, oh lo que quieras con un Post.</p>


        <div style="width: 350px; height: 360px; background-color: #2C2C2C">
            <img src="https://images.pexels.com/photos/59519/pexels-photo-59519.jpeg?cs=srgb&dl=aerial-aerial-view-aeroplane-59519.jpg&fm=jpg" style="width: 100%; height: auto">
            <div style="color: white">
                <p style="text-align: center">Mi primer viaje a Europa</p>
                <p style="padding-left: 8px">@silvano</p>
                <p style="padding-left: 8px">18 likes 3 comentarios</p>
            </div>
        </div>

        <br>
        <br>

        <p>Si quieres compartir tus metas que quieres lograr lo puedes hacer con un Meta.</p>

        <div style="width: 350px; height: 390px; background-color: #1b8dbb">
            <img src="https://images.pexels.com/photos/6505/couple-love-bedroom-kissing.jpg?cs=srgb&dl=affair-bedroom-couple-6505.jpg&fm=jpg" style="width: 100%; height: auto">
            <div>
                <p style="text-align: center">Encontrar pareja</p>
                <p style="padding-left: 8px">completado: NO</p>
                <p style="padding-left: 8px">@berenise</p>
                <p style="padding-left: 8px">5 sugerencias</p>
            </div>
        </div>


    </div>
    </div>

</body>
</html>